@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0;
}
.marydo{
    color: #f30089;
}

body{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #000000;
}
/*------- Header area start-----*/

header{
    height: 700px;
}
header::after{
    position: absolute;
   
}
header .navigation .logo_sec img{
    background: #eac3d9;
    width: 100px;
    border-radius: 50%;
    
}

header .navigation li{
    margin: 0px 16px;
    
}
header .navigation a{
    color: #ffffff;
    padding: 8px 0;
    border-radius: 1px;
    font-size: 20px;
    
}
header .navigation a:hover,.active-page{
    background-image: linear-gradient(to top, #f30089, #c777b800, #b983ca00, #aa8fd800, #9a9ae100, #8aa7ec00);
    transition: .4s ease-in;
}
header .hero{
    height: 500px;
   
}

header .account .log_btn{
    background: #f30089;
    color: #ffffff;
    padding: 5px 20px;

}
/*------- Header area start-----*/



/*------- hero area css-----*/

.hero{
    position: relative;
    padding: 40px 0;
}
.hero::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,#000000,#000000,#00000000);

}

.text_area{
  z-index: 1;
  color: white;
  padding: 0 20px;
  margin: auto 0;
}
.text_area button{
    background: #f30089;
    color: #ffffff;
    width: 200px;
}
.text_area button:hover{
    color: #ffffff;
    box-shadow: 5px #f30089;
    transition: .4s;
    
}
/*----------------- css for slider------------*/

#slider {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

#slider img {
    max-width: 554px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    border-radius: 5px;
}

#slider img.active {
    opacity: 1;
}



#stages .inner_stages .stages_text h2{
    font-size: 30px;
    color: #ffffff;   
}

#stages .stage_body .stage_card {
    background: #eac3d9;
    padding: 10px;
    border-radius: 5px;
    max-width: 280px;
    width: 100%;
      
}
#stages .stage_body .stage_card {
    background: #6b6368;
    padding: 10px;
    border-radius: 5px;
      
}
#stages .stage_body .stage_card img{
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
}  
#stages .stage_body .stage_card h3{
   font-size: 20px;
   margin: 10px 0;
   text-align: center;
}    
#stages .stage_body .stage_card p{
   font-size: 14px;
   text-align: center;
   
}    
#stages .stage_body .stage_card button{
   background-color: #f30089;
   color: #ffffff;
   float: right;
   font-size: 14px;
      
}
/*----------------- footer css----------*/

footer{
    height: 200px;
    background: #041325;
    padding: 10px 0;
}
footer .address_section h4{
    font-size: 16px;
    
}
footer ul li {
    display: inline-block;

}
footer ul li a{
    display: block;
    font-size: 20px;
    color: #ffffff;
}
footer ul li a .fa-facebook{
    color: #4267b2;
    
}
footer ul li a .fa-whatsapp{
    color: #075e54;
    
}
footer ul li a .fa-envelope{
    color: #c71610;

    
}
footer ul li a .fa-twitter{
    color: #1d9bf0;
    
}

footer form{
    border: 1px solid #f30089;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    height: 100%;

}

footer .form_area input{
    color: white;
    height: 20px;
    width: 100%;
    margin: 5px 0;
    
}
footer .form_area textarea{
    color: white;
    height: 25px;
    width: 100%;
    margin: 5px 0;
}
::placeholder{
    font-size: 12px;
}
footer .form_area input[type=submit]{
    width: 70px;
    background: #f30089;
    border: 0;
    outline: 0;
    font-size: 14px;
    border-radius: 5px;
    padding: 0px 10px;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 30%;
}


